.page--category {
	.subcategories {
		.listing { width: 66%; padding-right: 4em; .clearfix(); }
		.images { width: 34%; }
		.subcategory { float: left; width: 50%; }
		.subcategory:nth-child(2n + 2) { clear: left; }
		.subcategory-product { padding: 0.3em 0; }
	}
}

// Tablet and mobile
@media (max-width: @breakpoint-tablet-max) {

	.page--category {
		.subcategories {
			.listing { display: block; width: 100%; margin-bottom: 3em; padding: 0; }
			.images { display: block; width: 100%; }
		}
	}
}

// Mobile online
@media (max-width: @breakpoint-mobile-max) {

	.page--category {
		.subcategories {
			.listing { text-align: center; }
			.subcategory {
				float: none;
				width: 100%;
			}
		}
	}
}
