.page--checkout {

	.expiration-section {
		.sub-label { margin-bottom: 0.2em; text-align: center; }
		.divider { width: 1em; }
	}
}

@media (max-width: @breakpoint-mobile-max) {

	.page--checkout {

		.expiration-section .table .table-cell { display: block; float:left; width: 48%; &:last-of-type { float: right; } }
		.expiration-section .table .divider { display: none; }
	}
}
