footer {
	padding-top: 5em; padding-bottom: 8em;
	background-color: @color-master-gray;
	transition: 0.5s background-color ease;

	a {
		display: block;
		margin-bottom: 0.3em;
		white-space: nowrap;
		.inverse();
	}

	.list1, .list2, .social {
		width: 33.33333333%;
	}

	.social {
		a { display: inline-block; margin: 0; }

		.facebook {
			margin-right: 1em;

			img { width: 0.5em; }
		}
		.twitter img { width: 1.3em; }
	}
}

footer.red { background-color: @color-master-red; }
footer.blue { background-color: @color-master-blue; }
footer.orange { background-color: @color-master-orange; }

@media (max-width: @breakpoint-mobile-max) {

	footer {
		.list1, .list2, .social { display: block; width: 100%; margin-bottom: 4em; text-align: center; }
		.social.social { margin-bottom: 0; text-align: center; }
	}
}