header {
	&:extend(.table);
	padding-top: 5em; padding-bottom: 2em;
	background-color: @color-master-gray;
	transition: @global-color-transition;
}

header.red { background-color: @color-master-red; }
header.blue { background-color: @color-master-blue; }
header.orange { background-color: @color-master-orange; }

.header-logo-container {
	&:extend(.table-cell);
	text-align: left;
	vertical-align: middle;
}

.header-logo { width: 10em; }

.header-nav,
.mobile-nav {
	&:extend(.table-cell);
	width: 100%; // Not really -- just taking all the space the logo doesn't needx
	text-align: right;
	vertical-align: middle;

	a {
		color: #fff;
		margin-right: 2em;

		&:last-of-type { margin-right: 0; }
	}

	&.in-category {
		a { opacity: 0.6; }
		a.current { opacity: 1; }
	}

	.facebook { margin-right: 1em; }
	.facebook img { width: 0.5em; }
	.twitter img { width: 1.3em; }
}

@media (max-width: @breakpoint-mobile-max) {

	header .outer-container { display: table; width: 100%; }
	.header-nav { display: none; }
}