.page--home {
	.we-know-arkansas {
		text-align: center;

		h1 { margin-bottom: 0.5em; }
		p { margin-bottom: 0.2em; }
		img { width: 23em; max-width: 100%; height: auto; margin-top: 4em; margin-bottom: 2em; }
	}
}