.page--product {
	.info { padding-right: 4em; }
	.images { width: 30em; }

	.product-name { margin-bottom: 0; }
	.feature-panel {
		padding-top: 4em;

		&:before { height: 0; }
	}
}

// Tablet and mobile
@media (max-width: @breakpoint-tablet-max) {

	.page--product {
		.info, .images { display: block; width: 100%; padding-right: 0; }
		.images { width: 30em; padding-top: 3em; }
	}
}

// Mobile only
@media (max-width: @breakpoint-mobile-max) {

	.page--product {
		.info, .images { text-align: center; }
		.images { width: 100%; max-width: 30em; margin-left: auto; margin-right: auto; }
	}
}
