<div class="page--admin-home">
	<div class="hero outer-container">
		<h1>Administration: Home</h1>
		<div ng-show="adminModel.environment == 'local'">
			<p>Note: To import products and content, you must login to the <a href="https://arlegalsnap.com/test/#/admin">live environment</a>.</p>
			<a ng-href="#/admin/subcategories" class="btn-red">Subcategories</a>
			<a ng-href="#/admin/products" class="btn-blue">Products</a>
			<a ng-href="#/admin/content" class="btn-orange">Content</a>
			<a ng-href="#/admin/export" class="btn-gray">Export Data</a>
		</div>
		<div ng-show="adminModel.environment == 'live'">
			<p>Note: To create/edit/delete products and content, you must login to the <a href="https://arlegalsnap-arlegalsnap-1.c9.io/#/admin">development environment</a>.</p>
			<a ng-href="#/admin/import" class="btn-gray">Import Data</a>
		</div>
	</div>
</div>
