<div class="page--admin-export outer-container">
	<div class="form-container">
		<h1>Administration: Export Data</h1>
		<p>Are you sure you want to export all product and content data? The current state of your data will be staged to overwrite all existing data.</p>
		<div class="form-section table section2">
			<div class="table-row">
				<div class="table-cell h-right v-center">
					<label class="required inline2 no-wrap">Commit Message</label>
				</div>
				<div class="table-cell v-center expand">
					<input type="text" ng-model="exportModel.message">
				</div>
			</div>
		</div>
		<a class="btn-primary jumbo low-priority" ng-href="#/admin">Cancel</a>
		<a class="btn-primary jumbo" ng-click="exportModel.exportData()">Export Data</a>
	</div>
</div>
