<div class="page--admin-content outer-container">
	<h1 class="section2">Administration: Content</h1>
	<div class="section2">
		<h3 ng-repeat="page in ::contentModel.pages | orderBy:'title'"><a ng-href="#/admin/content/edit/{{page.pageName}}">{{page.title}}</a></h3>
	</div>
	<a ng-href="#/admin/home" class="btn-primary low-priority jumbo">Go Back</a>
</div>
