<div class="how-it-works">
	<h1>How It Works.</h1>
	<div class="block-container table">
		<div class="block table-cell h-center v-top">
			<div class="big-icon"><img src="client/img/how-it-works-form.svg" alt="Find the Right Form"></div>
			<h3>Find the Right Form</h3>
			<p>Get the legal forms you need without paying the high fees associated with an attorney.</p>
		</div>
		<div class="block table-cell h-center v-top">
			<div class="big-icon"><img src="client/img/how-it-works-question.svg" alt="Ask a Few Questions"></div>
			<h3>Answer a Few Questions</h3>
			<p>Get the legal forms you need without paying the high fees associated with an attorney.</p>
		</div>
		<div class="block table-cell h-center v-top">
			<div class="big-icon"><img src="client/img/how-it-works-easy.svg" alt="It's That Easy"></div>
			<h3>It's That Easy</h3>
			<p>Get the legal forms you need without paying the high fees associated with an attorney.</p>
		</div>
	</div>
</div>
