<div class="outer-container">
	<h1 ng-hide="interviewModel.showError == true">Interview for {{interviewModel.product.name}}</h1>
	<div ng-show="interviewModel.showError == true">
		<h3>Error</h3>
		<p>There was an error loading your interview.</p>
	</div>
	<div ng-bind-html="interviewModel.interviewHTML | SafeHTML" class="interview-view-container"></div>
</div>
