<div class="page--admin-delete-product outer-container">
	<h1>Administration: Delete Product</h1>
	<h2>{{::productModel.product.name}}</h2>
	<p>Are you sure you want to permanently delete this product?</p>
	<a class="btn-primary jumbo low-priority" ng-href="#/admin/products">Cancel</a>
	<a class="btn-primary jumbo" ng-click="productModel.deleteProduct()" ng-disabled="productModel.buttonDisabled == true">Delete Product</a>
</div>
