<div class="page--admin-edit-product outer-container">
	<div class="form-container">
		<form name="editProductForm" ng-submit="productModel.editProduct(editProductForm.$valid)" novalidate>
			<h1>Administration: Edit Product</h1>
			<h3 class="section3">{{productModel.product.name}}</h3>
			<div class="form-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="inline2 no-wrap">Interview</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="file" ngf-select ngf-change="productModel.uploadInterview($files)">
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="inline2 no-wrap">Image(s)</label>
					</div>
					<div class="table-cell v-center expand">
						<label class="section1">By choosing to upload one or more new images, any previously uploaded images will be deleted. A maximum of 5 images may be uploaded per product.</label>
						<input ng-show="productModel.imageFields.length > 0" type="file" ngf-select ngf-change="productModel.uploadImage($files, 0)">
						<input ng-show="productModel.imageFields.length > 1" type="file" ngf-select ngf-change="productModel.uploadImage($files, 1)">
						<input ng-show="productModel.imageFields.length > 2" type="file" ngf-select ngf-change="productModel.uploadImage($files, 2)">
						<input ng-show="productModel.imageFields.length > 3" type="file" ngf-select ngf-change="productModel.uploadImage($files, 3)">
						<input ng-show="productModel.imageFields.length > 4" type="file" ngf-select ngf-change="productModel.uploadImage($files, 4)">
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell"></div>
					<div class="table-cell expand">
						<div class="section2">
							<a ng-show="productModel.imageFields.length < 5" ng-click="productModel.imageFields.push(imageFields.length)" class="btn-primary">Add</a>
							<a ng-show="productModel.imageFields.length > 0" ng-click="productModel.imageFields.pop()" class="btn-primary low-priority">Remove</a>
						</div>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="inline2 no-wrap">Subcategories</label>
					</div>
					<div class="table-cell v-center expand">
						<div ng-repeat="category in ::productModel.categories" class="section1">
							<h3>{{category.name}}</h3>
							<div ng-repeat="subcategory in category.subcategories">
								<label><input ng-model="productModel.product.subcategoriesObject[subcategory.timestamp]" type="checkbox" class="inline0 section0">{{subcategory.name}}</label>
							</div>
						</div>
					</div>
				</div>
				String: {{vm.product.subcategories}}
				Object: {{vm.product.subcategoriesObject}}
				<div class="table-row">
					<div class="table-cell"></div>
					<div class="table-cell"><hr></div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Name</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="text" ng-model="productModel.product.name" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Price</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="text" ng-model="productModel.product.price" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Description</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.product.description" required></textarea>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Document For</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.product.documentfor" required></textarea>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Included</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.product.included" required></textarea>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Uses</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-repeat="thisUse in productModel.product.uses" ng-model="productModel.product.uses[$index].value" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell"></div>
					<div class="table-cell expand">
						<div class="section2">
							<a ng-click="productModel.addUse()" class="btn-primary">Add</a>
							<a ng-click="productModel.removeUse()" ng-show="productModel.product.uses.length > 1" class="btn-primary low-priority">Remove</a>
						</div>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">SEO Page Description</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.product.productpagedescription" required></textarea>
					</div>
				</div>
			</div>
			<a ng-href="#/admin/products" class="btn-primary low-priority jumbo">Cancel</a>
			<button type="submit" class="btn-primary jumbo" ng-disabled="productModel.formDisabled == true">Edit Product</button>
			<a ng-href="#/admin/product/delete/{{productModel.product.ts}}">Delete Product</a>
		</form>
	</div>
</div>
