<footer ng-class="currentColor" ng-hide="focusMode == 'focus-mode'">
	<div class="outer-container">
		<div class="table">
			<div class="list1 table-cell h-left v-top">
				<a ng-href="#/">ArLegalSnap.com</a>
				<a ng-href="#/">Home</a>
				<a ng-repeat="category in ::categories" ng-href="#/category/{{category.name | UrlEncode}}">{{category.name}}</a>
				<a ng-href="#/content/help">Help</a>
			</div>
			<div class="list2 table-cell h-left v-top">
				<a>About Us</a>
				<a>Arkansas Guarantee</a>
				<a>Access to Justice</a>
				<a>Learning Center</a>
				<a>Contact Us</a>
				<a>Technical Help & Support</a>
			</div>
			<div class="social table-cell h-right v-top">
				<a class="facebook" target="_fb" href="https://facebook.com/arkansaslegalsnap"><img src="client/img/facebook.svg" alt="Facebook"></a>
				<a class="twitter" target="_tw" href="https://twitter.com/arlegalsnap"><img src="client/img/twitter.svg" alt="Twitter"></a>
			</div>
		</div>
	</div>
</footer>
