<div class="page--home">
	<div class="hero outer-container">
		<h1>Insert Website<br>Heading Title Here.</h1>
		<a ng-href="#/category/Business" class="btn-red"><img src="client/img/icon-business.svg" alt="">Business</a>
		<a ng-href="#/category/Personal" class="btn-blue"><img src="client/img/icon-personal.svg" alt="">Personal & Family</a>
		<a ng-href="#/category/Wills%20&%20Estates" class="btn-orange"><img src="client/img/icon-wills.svg" alt="">Wills & Estates</a>
	</div>

	<div class="feature-panel">
		<div class="outer-container">
			<how-it-works></how-it-works>
		</div>
	</div>

	<div class="main-content2 we-know-arkansas">
		<h1>We Know Arkansas.</h1>
		<p>Arkansas Forms. By Arkansas Attorneys.</p>
		<p>Written According to Arkansas Law.</p>
		<img src="client/img/arkansas.svg" alt="State of Arkansas">
	</div>
</div>
