<div class="page--admin-add-subcategory outer-container">
	<div class="form-container">
		<form name="createSubcategoryForm" ng-submit="categoryModel.createSubcategory(createSubcategoryForm.$valid)" novalidate>
			<h1 class="section2">Administration: Add Subcategory</h1>

			<div class="form-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Category</label>
					</div>
					<div class="table-cell v-center expand">
						<select ng-model="categoryModel.categoryTimestamp" required>
							<option value="" selected>Choose a Category</option>
							<option ng-repeat="category in ::categoryModel.categories" ng-value="category.timestamp">{{category.name}}</option>
						</select>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Name</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="text" ng-model="categoryModel.subcategoryName" required>
					</div>
				</div>
			</div>
			<a ng-href="#/admin/subcategories" class="btn-primary low-priority jumbo">Cancel</a>
			<button type="submit" class="btn-primary jumbo">Create Subcategory</button>
		</form>
	</div>
</div>
