<div class="image-viewer" ng-show="imageCount > 0" ng-mouseenter="pause()" ng-mouseleave="unpause()">
	<div class="image-container">
		<img ng-repeat="image in images track by $index" ng-src="{{image}}" ng-class="{'active': currentIndex == $index}" class="expand">
	</div>
	<div class="controls table" ng-show="images.length > 1">
		<div class="table-cell v-center">{{currentIndex + 1}} of {{imageCount}}</div>
		<div class="table-cell h-right v-center">
			<a ng-click="previous()" class="inline2"><img src="client/img/left-arrow.svg" alt="Previous"></a>
			<a ng-click="next()"><img src="client/img/right-arrow.svg" alt="Next"></a>
		</div>
	</div>
</div>
