<div class="page--admin-edit-subcategory outer-container">
	<div class="form-container">
		<form name="editSubcategoryForm" ng-submit="categoryModel.editSubcategory(editSubcategoryForm.$valid)" novalidate>
			<h1>Administration: Edit Subcategory</h1>
			<h3 class="section3">{{categoryModel.subcategoryName}}</h3>

			<div class="form-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Category</label>
					</div>
					<div class="table-cell v-center expand">
						<select ng-model="categoryModel.categoryTimestamp">
							<option ng-repeat="category in ::categoryModel.categories" ng-value="category.timestamp" ng-model="categoryModel.categoryTimestamp" ng-selected="categoryModel.categoryName == category.name">{{category.name}}</option>
						</select>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Name</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="text" ng-model="categoryModel.subcategoryName" required>
					</div>
				</div>
			</div>
			<a ng-href="#/admin/subcategories" class="btn-primary low-priority jumbo">Cancel</a>
			<button type="submit" class="btn-primary jumbo" ng-disabled="categoryModel.formDisabled == true">Edit Subcategory</button>
			<a ng-href="#/admin/subcategory/delete/{{categoryModel.subcategoryTimestamp}}">Delete Subcategory</a>
		</form>
	</div>
</div>
