<div class="page--admin-import outer-container">
	<h1>Administration: Import Data</h1>
	<p>Are you sure you want to import all product and content data? The current state of your data will be overwritten by nothing but the new data.</p>
	<a class="btn-primary jumbo low-priority" ng-href="#/admin">Cancel</a>
	<a class="btn-primary jumbo" ng-click="importModel.importData()">Import Data</a>
</div>
