<header ng-class="currentColor">
	<div class="outer-container">
		<a ng-hide="focusMode == 'focus-mode'" ng-href="#/" class="header-logo-container"><img class="header-logo" src="client/img/logo.svg" alt="Arkansas Legal Snap"></a>
		<div ng-show="focusMode == 'focus-mode'" class="header-logo-container"><img class="header-logo" src="client/img/logo.svg" alt="Arkansas Legal Snap"></div>
		<nav class="header-nav" ng-class="{'in-category': currentColor}">
			<a ng-repeat="category in ::categories" ng-class="{'current': category.name == currentCategory}" ng-href="#/category/{{category.name | UrlEncode}}">{{category.name}}</a>
			<a ng-href="#/content/help">Help</a>
			<a class="facebook" target="_fb" href="https://facebook.com/arkansaslegalsnap"><img src="client/img/facebook.svg" alt="Facebook"></a>
			<a class="twitter" target="_tw" href="https://twitter.com/arlegalsnap"><img src="client/img/twitter.svg" alt="Twitter"></a>
		</nav>
		<div class="show-hide-mobile-nav table-cell h-right expand" ng-hide="focusMode == 'focus-mode'">
			<div class="toggle-box" ng-click="toggleMobileNav()">
				<span ng-class="{'close': mobileNavOpen}" class="plus-ex">+</span>
				<div ng-show="!mobileNavOpen">Menu</div>
				<div ng-show="mobileNavOpen">Close</div>
			</div>
		</div>
	</div>
</header>
<nav class="mobile-nav" ng-class="{'in-category': currentColor}" ng-hide="focusMode == 'focus-mode'">
	<div class="fixed-container">
		<a ng-click="hideMobileNav()" ng-repeat="category in ::categories" ng-class="{'current': category.name == currentCategory}" ng-href="#/category/{{category.name | UrlEncode}}">{{category.name}}</a>
		<a ng-click="hideMobileNav()" ng-href="#/content/help">Help</a>
		<a ng-click="hideMobileNav()" class="facebook" target="_fb" href="https://facebook.com/arkansaslegalsnap"><img src="client/img/facebook.svg" alt="Facebook"></a>
		<a ng-click="hideMobileNav()" class="twitter" target="_tw" href="https://twitter.com/arlegalsnap"><img src="client/img/twitter.svg" alt="Twitter"></a>
	</div>
</nav>
