<div class="page--admin-products outer-container">
	<h1>Administration: Products</h1>
	<p>{{::productModel.products.length}} products found</p>

	<div class="section4">
		<div ng-repeat="category in ::productModel.categories" class="fill-box section3" ng-class="category.color">
			<h2>{{category.name}}</h2>
			<div ng-repeat="subcategory in category.subcategories" class="fill-box inner section4">
				<h3>{{subcategory.name}}</h3>
				<div ng-repeat="product in ::productModel.products" ng-show="product.subcategories.indexOf(subcategory.timestamp) > -1" class="section0">
					<a ng-href="#/admin/product/edit/{{product.timestamp}}">{{product.name}}</a>
				</div>
			</div>
		</div>
		<div class="fill-box section3">
			<h2>Homeless Products</h2>
			<div ng-repeat="product in ::productModel.products" ng-show="!product.subcategories[0].length" class="section0">
				<a ng-href="#/admin/product/edit/{{product.timestamp}}">{{product.name}}</a>
			</div>
		</div>
	</div>

	<a ng-href="#/admin/home" class="btn-primary low-priority jumbo">Go Back</a>
	<a ng-href="#/admin/product/create" class="btn-primary jumbo">Create Product</a>
</div>
