.banner {
	position: fixed;
	//width: 10em;
	top: -5em;
	padding: 0.5em 2em;
	background-color: #fff;
	color: @color-master-dark-gray;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	pointer-events: none;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	opacity: 0;
	z-index: 100;

	&.active { opacity: 0.5; top: 0; }
}

.local-banner { left: 2em; }
.admin-banner { right: 2em; pointer-events: initial; }

.loading-banner {
	top: -5em; left: 50%;
	margin-left: -5em;
	transition: all 0.5s ease;

	&.active { opacity: 0.7; transition-delay: 0.5s; }
}
