*, *:before, *:after { box-sizing: border-box; }

html {
	margin: 0; padding: 0;
	font-size: 100%;
	overflow-y: scroll;
}

body {
	min-width: @breakpoint-mobile-min;
	margin: 0; padding: 0;
	font-size: 0.875em; // 14px
	font-family: "Nunito", sans-serif;
	font-weight: 300;
	background-color: #fff;
	color: @color-master-gray;
}

a, a:visited, a:active, a:hover {
    color: @color-master-gray;
	text-decoration: none;
	cursor: pointer;
	opacity: 1;
	transition: 0.2s opacity ease;

	&:hover {
		text-decoration: none;
		opacity: 0.6;
		transition: 0.4s opacity ease;
	}
}

p a[href] { text-decoration: underline; }

.inverse() {
	color: #fff;

	&:visited, &:active, &:hover { color: #fff; }
}

p { margin: 0 0 2em 0; }

h1, h2, h3, h4 {
	margin: 0 0 0.75em;
	font-weight: 300;
}

h1 { font-size: 1.88em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.1em; }

ul, ol { margin: 0; padding: 0; }
li { list-style-position: inside; }

hr { display: block; border: none; height: 2px; background-color: @color-master-gray-lightened; margin-bottom: 2em; }

@media (max-width: @breakpoint-mobile-max) {

	body { text-align: center; }
	a { line-height: 1.5; }
}
