// Mix-in to dynamically apply background color
.btn-background(@background-color) {
	background-color: @background-color;

	&:hover {
		background-color: lighten(@background-color, 6%);
	}
}

// Make all types of buttons behave like default button
[class*="btn-"] {
	&:extend(.btn);

	&:last-of-type {
		//margin-right: 0;
	}

	&.low-priority { opacity: 0.8; }
	&.jumbo {
		font-size: 1.3em;
		min-width: 10em;
		padding: 0.7em 1em;
	}

	&[disabled] { opacity: 0.5; pointer-events: none; }
}

// Make all types of buttons behave like default button on hover
[class*="btn-"]:hover {
	&:extend(.btn:hover);
}

// Default button lass, to be extended
.btn {
	display: inline-block;
	width: auto;
	max-width: 100%;
	padding: 0.7em 4em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	color: #fff;
	text-decoration: none;
	text-align: center;
	border-radius: 12px;
	white-space: nowrap;
	.btn-background(#000);
	cursor: pointer;
	transition: @global-color-transition;

	&:hover, &:visited, &:active { color: #fff; }
}

.btn-gray { .btn-background(@color-master-gray); }
.btn-red { .btn-background(@color-master-red); }
.btn-blue { .btn-background(@color-master-blue); }
.btn-orange { .btn-background(@color-master-orange); }

a[class*="btn-"] { color: #fff; }

.btn-primary { .btn-background(@color-master-orange); }
body.red .btn-primary { .btn-background(@color-master-red); }
body.blue .btn-primary { .btn-background(@color-master-blue); }
body.orange .btn-primary { .btn-background(@color-master-orange); }
