.main-content { margin-top: 4em; margin-bottom: 4em; min-height: calc(~"100vh - 545px"); }
.main-content2 { margin-top: 4em; margin-bottom: 6em; .outer-container(); }

.box0 { padding: 0.5em; }
.box1 { padding: 1em; }
.box2 { padding: 2em; }
.box3 { padding: 3em; }
.box4 { padding: 4em; }
.box5 { padding: 5em; }
.box6 { padding: 6em; }

.section0 { margin-bottom: 0.5em; }
.section1 { margin-bottom: 1em; }
.section2 { margin-bottom: 2em; }
.section3 { margin-bottom: 3em; }
.section4 { margin-bottom: 4em; }
.section5 { margin-bottom: 5em; }
.section6 { margin-bottom: 6em; }

.inline0 { margin-right: 0.5em; }
.inline1 { margin-right: 1em; }
.inline2 { margin-right: 2em; }
.inline3 { margin-right: 3em; }

.outer-container() {

	max-width: @breakpoint-desktop-max;
	margin-left: auto; margin-right: auto;
	padding-left: 6%; padding-right: 6%;
}

.outer-container { .outer-container(); }
