.feature-panel {
	position: relative;
	padding-top: 6em; padding-bottom: 4em;
	color: #fff;
	background-color: @color-master-gray-lightened;
	transition: @global-color-transition;

	&:before {
		content: "";
		position: absolute;
		left: 0; top: 0; right: 0;
		height: 2em;
		background-color: @color-master-gray;
		transition: @global-color-transition;
	}

	a { color: #fff; }
}

body.red .feature-panel {
	background-color: @color-master-red-lightened;

	&:before { background-color: @color-master-red; }
}

body.blue .feature-panel {
	background-color: @color-master-blue-lightened;

	&:before { background-color: @color-master-blue; }
}

body.orange .feature-panel {
	background-color: @color-master-orange-lightened;

	&:before { background-color: @color-master-orange; }
}