.fill-box {
	padding: 1em 2em;
	background-color: rgba(0,0,0,0.05);
	border-radius: 1em;
	border: 2px solid @color-master-gray;
	box-shadow: 0 0 0.75em rgba(0,0,0,0.3);

	&.red {
		background-color: lighten(@color-master-red, 48%);
		border-color: @color-master-red;
	}
	&.blue {
		background-color: lighten(@color-master-blue, 50%);
		border-color: @color-master-blue;
	}
	&.orange {
		background-color: lighten(@color-master-orange, 40%);
		border-color: @color-master-orange;
	}
	&.inner {
		border: none;
		border-radius: 0.5em;
		background-color: #fff;
		box-shadow: 0 0 .25em rgba(0,0,0,0.3);
	}
}
