label, input { display: block; }
label {
	margin-bottom: 0.3em;

	&.required:before { content: "*"; margin-right: 0.5em; color: @color-master-warn; font-size: 1.2em; font-weight: bold; }
}
input,
textarea,
select,
button {
	width: 100%;
	padding: 0.7em 1.5em;
	margin-bottom: 1.5em;
	background-color: @color-master-light-gray;
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 8px;

	&:focus {
		box-shadow: 0 0 5px @color-master-gray;
	}
}

input[type="checkbox"],
input[type="radio"]{
	display: inline;
	width: auto;

	&:focus { box-shadow: none; }
}

textarea { height: 10em; resize: vertical; }

form.ng-submitted {
	input.ng-invalid,
	textarea.ng-invalid,
	select.ng-invalid {
		box-shadow: 0 0 0 2px @color-master-warn;
	}
}

@media (max-width: @breakpoint-mobile-max) {
	input { text-align: center; }
}
