.form-container { max-width: 40em; margin-left: auto; margin-right: auto; text-align: center; }
[class*="page--admin"] .form-container { max-width: 60em; }
.form-section .table-row .table-cell:first-of-type label { min-width: 13em; margin-bottom: 1.3em; }

@media (max-width: @breakpoint-mobile-max) {

	.form-section {
		display: block;

		.table-row { display: block; }
		.table-cell { display: block; text-align: center; }
		label { min-width: auto; margin-bottom: 0.3em; }
	}
}
