.expand {
	width: 100%;
	height: auto;
}

.clearfix() {
	overflow: auto;
}

.clearfix { .clearfix(); }

.no-wrap() { white-space: nowrap; }
.no-wrap { .no-wrap(); }

.ellipsis() {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.ellipsis { .ellipsis(); }
