.hero {
	padding-top: 6em; padding-bottom: 10em;

	[class*="btn-"] { padding-left: 2em; padding-right: 2em; }
}

@media (max-width: @breakpoint-mobile-max) {

	.hero [class*="btn-"] { display: block; width: 20em; max-width: 90%; margin-left: auto; margin-right: auto; }
}

.page--home {
	.hero [class*="btn-"] {
		width: 12em;
		padding-left: 0; padding-right: 0;

		img { position: relative; top: 0.1em; height: 1em; width: auto; margin-right: 0.5em; }
	}
}
