.how-it-works {
	text-align: center;

	.table-cell {
		width: 33.33333333%;
		padding-left: 1em; padding-right: 1em;
	}
	.big-icon {
		display: inline-block;
		width: 6em; height: 6em;
		margin-bottom: 1.5em;
		background-color: @color-master-gray;
		border-radius: 50%;
		transition: 0.5s @global-color-transition;

		img {
			position: relative;
			top: 1.5em;
			width: auto; height: 3em;
		}
	}
}

body.red .big-icon { background-color: @color-master-red; }
body.blue .big-icon { background-color: @color-master-blue; }
body.orange .big-icon { background-color: @color-master-orange; }

@media (max-width: @breakpoint-mobile-max) {

	.how-it-works {

		.block-container .block {
			display: block; width: 100%; margin-bottom: 2em;

			&:last-of-type { margin-bottom: 0; }
		}
	}
}
