.image-viewer {
	display: block;
	max-width: 30em;
	margin: 0 auto;
	padding: 1em;
	color: #fff;
	background-color: @color-master-gray;

	.image-container {
		position: relative;
		padding-bottom: 100%;

		img {
			opacity: 0;
			position: absolute; top: 0; right: 0; bottom: 0; left: 0;

			&.active { opacity: 1; }
		}
	}

	.controls { padding: 2em 3em 1em; }
	.controls img { width: 0.8em; height: auto; }
}

body.red .image-viewer { background-color: @color-master-red; }
body.blue .image-viewer { background-color: @color-master-blue; }
body.orange .image-viewer { background-color: @color-master-orange; }
