.show-hide-mobile-nav {
	display: none;
	position: relative;
	color: #fff;

	.toggle-box {
		display: inline-block;
		position: relative;
		text-align: center;
		cursor: pointer; 
		z-index: 30;
	}

	.plus-ex {
		display: inline-block;
		position: relative;
		font-size: 3em;
		line-height: 0.5;
		transition: transform 0.5s ease;

		&.close { transform: rotate(-135deg); }
	}
}

.mobile-nav.mobile-nav.mobile-nav {
	display: block;
	position: absolute;
	top: 0; right: 0; bottom: 0;
	width: 0;
	overflow: hidden;
	padding-top: 2em;
	text-align: center;
	color: #fff;
	background-color: @color-master-dark-gray;
	z-index: 10;
	box-shadow: 0 0 0 30em transparent;
	transition: all 0.5s ease;

	a {
		display: block;
		margin: 0;
		line-height: 2.5em;
		white-space: nowrap;
		transition: top 0.5s ease;
	}

	.facebook, .twitter { margin: 0; }
	.fixed-container { position: fixed; top: 10%; width: 70%; transition: top 0.5s ease; }
}

@media (max-width: @breakpoint-mobile-max) {

	body { position: relative; left: 0; transition: left 0.5s ease; }

	body.mobile-nav-open {
		left: -70%;

		.mobile-nav.mobile-nav.mobile-nav {
			width: 70%;
			right: -70%;
			box-shadow: 0 0 0 30em rgba(0,0,0,0.3);

			.fixed-container { top: 3em; }
		}
	}

	.show-hide-mobile-nav { display: table-cell; }
}
