.table {
	display: table;
	width: 100%;
}

.table-row { display: table-row; }

.table-cell {
	display: table-cell;
	text-align: left;
	vertical-align: middle;

	&.h-center {
		text-align: center;
	}

	&.h-right {
		text-align: right;
	}

	&.v-top {
		vertical-align: top;
	}

	&.v-bottom {
		vertical-align: bottom;
	}

	&.expand {
		width: 100%;
	}
}