@color-master-gray: #595959;
@color-master-gray-lightened: #808080;
@color-master-blue: #2483c5;
@color-master-blue-lightened: #47b7e8;
@color-master-red: #d02d2a;
@color-master-red-lightened: #ec4c4c;
@color-master-orange: #f47f26;
@color-master-orange-lightened: #f89d34;

@color-master-dark-gray: #333;
@color-master-light-gray: #f2f2f2;
@color-master-warn: #d02d2a;

@breakpoint-mobile-min: 21.875em; //350px;
@breakpoint-mobile-max: 43.74999em; //699px;
@breakpoint-tablet-min: 43.75em; //700px;
@breakpoint-tablet-max: 62.4999em; //999px;
@breakpoint-desktop-min: 62.5em; //1000px;
@breakpoint-desktop-max: 87.5em; //1400px;

@global-color-transition: 0.5s background-color ease;
