<div class="page--admin-create-product outer-container">
	<div class="form-container">
		<form name="createProductForm" ng-submit="productModel.createProduct(createProductForm.$valid)" novalidate>
			<h1 class="section2">Administration: Create Product</h1>

			<div class="form-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Name</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="text" ng-model="productModel.newProduct.name" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Price</label>
					</div>
					<div class="table-cell v-center expand">
						<input type="text" ng-model="productModel.newProduct.price" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Description</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.newProduct.description" required></textarea>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Document For</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.newProduct.documentFor" required></textarea>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Included</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.newProduct.included" required></textarea>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Uses</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-repeat="thisUse in productModel.newProduct.uses" ng-model="productModel.newProduct.uses[$index].value" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell"></div>
					<div class="table-cell expand">
						<div class="section2">
							<a ng-click="productModel.addUse()" class="btn-primary">Add</a>
							<a ng-click="productModel.removeUse()" ng-show="productModel.newProduct.uses.length > 1" class="btn-primary low-priority">Remove</a>
						</div>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">SEO Page Description</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="productModel.newProduct.pageDescription" required></textarea>
					</div>
				</div>
			</div>
			<a ng-href="#/admin/products" class="btn-primary low-priority jumbo">Cancel</a>
			<button type="submit" class="btn-primary jumbo" ng-disabled="productModel.formDisabled == true">Create Product</button>
		</form>
	</div>
</div>
