<div class="page--category">
	<div class="hero outer-container">
		<h1 class="section2">{{::categoryModel.category.heading}}</h1>
		<a ng-repeat="product in ::categoryModel.heroProducts" ng-href="#/product/{{product.name | UrlEncode}}/{{product.timestamp}}" class="btn-primary ellipsis" title="{{product.name}}">{{product.name}}</a>
	</div>

	<div class="feature-panel">
		<div class="outer-container">
			<div class="subcategories table">
				<div class="listing table-cell v-center">
					<h1 data-timestamp="{{::categoryModel.category.timestamp}}">{{::categoryModel.category.name}}</h1>
					<div ng-repeat="subcategory in ::categoryModel.category.subcategories" class="subcategory section2">
						<h3 class="section0" data-timestamp="{{subcategory.timestamp}}">{{subcategory.name}}</h3>
						<div class="subcategory-product" ng-repeat="product in ::categoryModel.products track by $index" ng-show="product.subcategories.indexOf(subcategory.timestamp) > -1">
							<a ng-href="#/product/{{product.name | UrlEncode}}/{{product.timestamp}}">{{product.name}}</a>
						</div>
					</div>
				</div>
				<div class="images table-cell v-center">
					<image-viewer ng-attr-images="{{::categoryModel.previewImages}}"></image-viewer>
				</div>
			</div>
		</div>
	</div>

	<div class="main-content2">
		<how-it-works></how-it-works>
	</div>
</div>
