<div class="page--login outer-container">
	<div class="form-container">
		<form name="loginForm" ng-submit="loginModel.login(loginForm.$valid)" novalidate>
			<h1 class="section2">Administrator Login</h1>

			<div class="form-section table section2">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Username</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="loginModel.username" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Password</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="loginModel.password" type="password" required>
					</div>
				</div>
			</div>

			<button class="btn-primary jumbo" type="submit">Login</button>
		</form>
	</div>
</div>
