<div class="page--admin-subcategories outer-container">
	<h1 class="section2">Administration: Subcategories</h1>

	<div class="section4">
		<div ng-repeat="category in ::categoryModel.categories" class="fill-box section3" ng-class="category.color">
			<h2>{{category.name}}</h2>
			<div ng-repeat="subcategory in category.subcategories" class="section0">
				<a ng-href="#/admin/subcategory/edit/{{subcategory.timestamp}}">{{subcategory.name}}</a>
			</div>
		</div>
	</div>

	<a ng-href="#/admin/home" class="btn-primary low-priority jumbo">Go Back</a>
	<a ng-href="#/admin/subcategory/create" class="btn-primary jumbo">Create Subcategory</a>
</div>
