<div class="page--product">
	<div class="outer-container section6">
		<div class="table">
			<div class="info table-cell v-center">
				<div class="section3">
					<h1 class="product-name">{{::productModel.product.name}}</h1>
					<div class="section0">{{::productModel.product.price | currency}}</div>
				</div>
				<div class="section3">
					<div class="section0">
						<h2>This Document is For:</h2>
						<p ng-bind-html="::productModel.product.documentfor | SafeHTML"></p>

						<h2>What is Included:</h2>
						<p ng-bind-html="::productModel.product.included | SafeHTML"></p>

						<h2>Common Uses:</h2>
						<p class="section1">This document is commonly used by:</p>
						<ol class="section2">
							<li ng-repeat="use in ::productModel.product.uses" ng-bind-html="use | SafeHTML"></li>
						</ol>

						<h2>How Do I Get My Document?</h2>
						<p>After you complete the interview, your personalized document will be generated immediately after you click the “Finish” button. It will be a Microsoft Word document. If you do not have Microsoft Word, you can download Microsoft Word Viewer for free <a target="_msword" href="http://www.microsoft.com/en-us/download/details.aspx?id=4">here</a> to print off the document.</p>

						<h2>A Little Knowledge:</h2>
						<p ng-bind-html="::productModel.product.description | SafeHTML"></p>
					</div>
				</div>
				<a class="btn-primary" ng-href="#/checkout/{{::productModel.product.ts}}">Let's Get Started</a>
			</div>
			<div class="images table-cell v-center">
				<image-viewer ng-attr-images='{{::productModel.product.images}}'></image-viewer>
			</div>
		</div>
	</div>
	<div class="feature-panel">
		<div class="outer-container">
			<how-it-works></how-it-works>
		</div>
	</div>
	<div class="main-content2 box4">
		<div class="table">
			<div class="table-cell h-center">
				<a ng-click="goBack()" class="btn-primary low-priority jumbo">Go Back</a>
				<a ng-href="#/checkout/{{::productModel.product.ts}}" class="btn-primary jumbo">Let's Get Started</a>
			</div>
		</div>
	</div>
</div>
