<div class="page--checkout outer-container">
	<div class="form-container">
		<a class="btn-primary section2" ng-show="checkoutModel.isAuthenticated == 'true'" ng-href="#/interview">Admin: Skip to Interview</a>
		<form name="checkoutform" ng-submit="checkoutModel.getStripeToken($event, checkoutform.$valid)" novalidate>
			<h1 class="section0">Billing Address</h1>
			<div class="section4">Please enter your billing information as shown on your credit card.</div>

			<input ng-model="checkoutModel.formData.timestamp" ng-value="checkoutModel.checkout.productTimestamp" type="hidden">
			<input ng-model="checkoutModel.formData.productName" ng-value="checkoutModel.checkout.productName" type="hidden">

			<div class="form-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Email</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.email" type="email" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Name</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.name" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Zip Code</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.zip" type="number" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Address</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.address1" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center"></div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.address2" type="text" placeholder="(optional)">
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">City</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.city" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">State</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formData.state" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Country</label>
					</div>
					<div class="table-cell h-right v-center expand">
						<input ng-model="checkoutModel.formData.country" type="text" required>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Phone</label>
					</div>
					<div class="table-cell h-right v-center expand">
						<input ng-model="checkoutModel.formData.phone" type="text" required>
					</div>
				</div>
			</div>

			<h1 class="section0">Payment Information</h1>
			<div class="section4">Please enter your billing information as shown on your credit card.</div>

			<div class="for-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Card Number</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formValidation.number" type="number" data-stripe="number" required>
					</div>
				</div>
				<div class="table-row expiration-section">
					<div class="main-label table-cell h-right v-center">
						<label class="required inline2 no-wrap">Expiration Date</label>
					</div>
					<div class="table-cell v-center expand">
						<div class="table">
							<div class="table-cell"><div class="sub-label">Month (MM)</div><input ng-model="checkoutModel.formValidation.month" type="number" data-stripe="exp-month" required></div>
							<div class="table-cell divider"></div>
							<div class="table-cell"><div class="sub-label">Year (YY)</div><input ng-model="checkoutModel.formValidation.year" type="number" data-stripe="exp-year" required></div>
						</div>
					</div>
				</div>
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Security Code (CVC)</label>
					</div>
					<div class="table-cell v-center expand">
						<input ng-model="checkoutModel.formValidation.cvc" type="number" data-stripe="cvc" required>
					</div>
				</div>
			</div>

			<h2 class="section0">{{::checkoutModel.checkout.productName}}</h2>
			<h3 class="section2">Total: {{::checkoutModel.checkout.productPrice | currency}}</h3>

			<button class="btn-primary jumbo" type="submit" ng-disabled="checkoutModel.formDisabled == true">Submit</button>
		</form>
	</div>
</div>
