<div class="page--admin-delete-subcategory outer-container">
	<h1>Administration: Delete Subcategory</h1>
	<h2>{{::categoryModel.subcategoryName}}</h2>
	<p>Are you sure you want to permanently delete this subcategory?</p>
	<a class="btn-primary jumbo low-priority" ng-href="#/admin/subcategories">Cancel</a>
	<a class="btn-primary jumbo" ng-click="categoryModel.deleteSubcategory()" ng-disabled="categoryModel.buttonDisabled == true">Delete Subcategory</a>
</div>
