<div class="page--admin-edit-content outer-container">
	<div class="form-container">
		<form name="editContentForm" ng-submit="contentModel.editContentForm()" novalidate>
			<h1>Administration: Edit Content</h1>
			<h3 class="section3">{{contentModel.page.title}}</h3>

			<div class="form-section table section4">
				<div class="table-row">
					<div class="table-cell h-right v-center">
						<label class="required inline2 no-wrap">Content</label>
					</div>
					<div class="table-cell v-center expand">
						<textarea ng-model="contentModel.page.content"></textarea>
					</div>
				</div>
			</div>
			<a ng-href="#/admin/content" class="btn-primary low-priority jumbo">Cancel</a>
			<button type="submit" class="btn-primary jumbo" ng-disabled="contentModel.formDisabled == true">Edit Content</button>
		</form>
	</div>
</div>
